extends layout

block content
    h3.
        Arduino List
    ul
        each arduino, i in arduinolist
            li
                p= "arduino id: " + arduino._id
                p= "owner: " + arduino.owner
                a(href="deleteArduino?id="+arduino._id) Excluir