doctype html
html
  head
    title Driver Profiler
    link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/css?family=DroidSans')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav
    #titulo
      h1 Driver Profiler
      #topbar
      ul
        li
          a(href='/users/userlist') User List
        li
          a(href='/users/newuser') New User
        li
          a(href='/arduino/arduinolist') Arduino List
        li
           a(href='/arduino/newarduino') New Arduino
         li
          a(href='/navigation/navigationlist') Navigation List
        li
          a(href='/navigation/newnavigation') New Navigation

    block content        
